{% load static %}
<link rel="stylesheet" href="{% static 'css/home1.css' %}">
<div class="footer">
            <div class="sub-footer"> 
                <div class="footer-table">
                    <img src="{% static 'images/OIP.jpg' %}" width="100px" height="30px">
                </div>
                <div class="footer-table">
                    <p>General</p>
                    <p>Sign Up</p>
                    <p>Help Center</p>
                    <p>About</p>
                    <p>Press</p>
                    <p>Careers</p>
                    <p>Developers</p>
                    
                </div>
                <div class="footer-table">
                    <p>Browse Job Portal</p>
                    <p>Learning</p>
                    <p>Jobs</p>
                    <p>Games</p>
                    <p>Salary</p>
                    <p>Salary</p>
                    <p>Services</p>
                    <p>Products</p>
                    <p>Top Companies Hub</p>
                </div>
                <div class="footer-table">
                    <p>Business Solutions</p>
                    <p>Talent</p>
                    <p>Marketing</p>
                    <p>Sales</p>
                    <p>Learning</p>
                </div>
                <div class="footer-table">
                    <p>Directories</p>
                    <p>Members</p>
                    <p>Schools</p>
                    <p>People Search</p>
                    <p>Products</p>
                    <p>Advice</p>
                    <p>Services</p>
                    <p>News Letters</p>
                    <p>News</p>
                    <p>Articles</p>
                    <p>Learning</p>
                    <p>Posts</p>
                    <p>Companies</p>
                    <p>Featured</p>
                    <p>Jobs</p>
                </div>
            </div>
            <div class="sub-footer2">
                <span>
                    <img src="{% static 'images/OIP.jpg' %}" width="100px" height="30px" >
                </span>
                <span>© 2025</span>
                <span>About</span>
                <span>Accessibility</span>
                <span>User Agreement</span>
                <span>Privacy Policy</span>
                <span>Cookie Policy</span>
                <span>Copyright Policy</span>
                <span>Brand Policy</span>
                <span>Guest Controls</span>
            </div>
        </div>